# Process Dataset With School Ratings
### Data Source: https://texasschoolguide.org/school-rankings/

In [1]:
import pandas as pd
import gmaps
import requests
import json
from config import gkey

In [2]:
# configure the google maps key for api requests
gmaps.configure(api_key=gkey)

In [3]:
# read csv file
file = pd.read_csv("Resources/tsg_final_11.17_From_Children_at_Risk.csv")

# make the file into a DataFrame
schools = pd.DataFrame(file)

In [4]:
# drop rows without school rating or school name
schools.dropna(how='any',subset=['TEA Grade','School.Name'], inplace=True)

In [5]:
# filter the data to show only schools in Harris County, TX
schools_harris = schools.loc[schools["County"]=="HARRIS",:]

In [6]:
# filter the data to remove school type listed as unavailable
schools_harris = schools_harris.loc[schools['School.Type']!="Unavailable"]
schools_harris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 23 to 9643
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School.ID                 972 non-null    int64
 1   School.Name               972 non-null    object
 2   Street.Address            972 non-null    object
 3   CITY                      972 non-null    object
 4   ZIP                       972 non-null    float64
 5   County                    972 non-null    object
 6   District.Name             972 non-null    object
 7   School.Type               972 non-null    object
 8   Charter.Trad              972 non-null    object
 9   Grade.Current             972 non-null    object
 10  TEA Grade                 972 non-null    object
 11  GoldRibbon                68 non-null     float64
 12  PEG                       972 non-null    object
 13  County_Ranking            972 non-null    object
 14  Asian.pct                 972 non-null    float64
 15  Black.pct                 972 non-null    float64
 16  Hispanic.pct              972 non-null    float64
 17  Other_race.pct            972 non-null    float64
 18  White.pct                 972 non-null    float64
 19  Total.Enrollment          972 non-null    float64
 20  Special.Ed                972 non-null    float64
 21  Teacher.Beginner.pct      945 non-null    float64
 22  Teacher.1to5.pct          945 non-null    float64
 23  Teacher.6more.pct         945 non-null    float64
 24  Econ.Dis                  972 non-null    float64
 25  ELL.pct                   972 non-null    float64
 26  Student.Mobility          972 non-null    float64
 27  Reading.Current           972 non-null    float64
 28  Reading.District          972 non-null    float64
 29  Reading.County            972 non-null    float64
 30  Reading.Compare.District  972 non-null    object
 31  Reading.Compare.County    972 non-null    object
 32  Math.Current              972 non-null    float64
 33  Math.District             972 non-null    float64
 34  Math.County               972 non-null    float64
 35  Math.Compare.District     972 non-null    object
 36  Math.Compare.County       972 non-null    object
 37  Reading.Current-1         915 non-null    float64
 38  Reading.Current-2         889 non-null    float64
 39  Reading.Change            915 non-null    object
 40  Math.Current-1            915 non-null    float64
 41  Math.Current-2            889 non-null    float64
 42  Math.Change               915 non-null    object
 43  Student.Growth.Reading    972 non-null    object
 44  Student.Growth.Math       972 non-null    object
 45  School.Program            331 non-null    object
 46  Community.Resources       331 non-null    object
 47  longitude                 970 non-null    float64
 48  latitude                  970 non-null    float64
 49  Student.Teacher.Ratio     945 non-null    float64
 50  Grade.Range               972 non-null    object
dtypes: float64(28), int64(1), object(22)
memory usage: 394.9+ KB

In [7]:
# locate rows with missing coordinates
missing_info = schools_harris.loc[schools['latitude'].isna()]
missing_info

,School.ID,School.Name,Street.Address,CITY,ZIP,County,District.Name,School.Type,Charter.Trad,Grade.Current,...,Math.Current-2,Math.Change,Student.Growth.Reading,Student.Growth.Math,School.Program,Community.Resources,longitude,latitude,Student.Teacher.Ratio,Grade.Range
4848,227820213,KIPP PEACE ELEMENTARY,5400 MLK JR BLVD,HOUSTON,77021.0,HARRIS,KIPP TEXAS PUBLIC SCHOOLS,Elementary,Charter,C,...,NaN,NaN,HIGH,HIGH,NaN,NaN,NaN,NaN,NaN,PK—04
4854,227820060,KIPP PRIME COLLEGE PREPARATORY MIDDLE,8805 FERNDALE,HOUSTON,77017.0,HARRIS,KIPP TEXAS PUBLIC SCHOOLS,Middle,Charter,C,...,NaN,NaN,LOW,LOW,NaN,NaN,NaN,NaN,NaN,05—07

In [8]:
# geolocate schools without lat/lng information
base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
addresses = missing_info["Street.Address"].to_list()
params = {"key": gkey}
google_info = []
g_lat = []
g_lng = []
for address in addresses:
    params['address'] = address
    response = requests.get(base_url,params=params).json()
    google_info.append(response)
    lat = response['results'][0]['geometry']['location']['lat']
    g_lat.append(lat)
    lng = response['results'][0]['geometry']['location']['lng']
    g_lng.append(lng)

In [13]:
# add the coordinates to the schools DataFrame
for x in range(0,len(addresses)):    
    schools_harris.loc[schools_harris['Street.Address'] == addresses[x], ['latitude']] = g_lat[x]
    schools_harris.loc[schools_harris['Street.Address'] == addresses[x], ['longitude']] = g_lng[x]
    
schools_harris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 23 to 9643
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   School.ID                 972 non-null    int64
 1   School.Name               972 non-null    object
 2   Street.Address            972 non-null    object
 3   CITY                      972 non-null    object
 4   ZIP                       972 non-null    float64
 5   County                    972 non-null    object
 6   District.Name             972 non-null    object
 7   School.Type               972 non-null    object
 8   Charter.Trad              972 non-null    object
 9   Grade.Current             972 non-null    object
 10  TEA Grade                 972 non-null    object
 11  GoldRibbon                68 non-null     float64
 12  PEG                       972 non-null    object
 13  County_Ranking            972 non-null    object
 14  Asian.pct                 972 non-null    float64
 15  Black.pct                 972 non-null    float64
 16  Hispanic.pct              972 non-null    float64
 17  Other_race.pct            972 non-null    float64
 18  White.pct                 972 non-null    float64
 19  Total.Enrollment          972 non-null    float64
 20  Special.Ed                972 non-null    float64
 21  Teacher.Beginner.pct      945 non-null    float64
 22  Teacher.1to5.pct          945 non-null    float64
 23  Teacher.6more.pct         945 non-null    float64
 24  Econ.Dis                  972 non-null    float64
 25  ELL.pct                   972 non-null    float64
 26  Student.Mobility          972 non-null    float64
 27  Reading.Current           972 non-null    float64
 28  Reading.District          972 non-null    float64
 29  Reading.County            972 non-null    float64
 30  Reading.Compare.District  972 non-null    object
 31  Reading.Compare.County    972 non-null    object
 32  Math.Current              972 non-null    float64
 33  Math.District             972 non-null    float64
 34  Math.County               972 non-null    float64
 35  Math.Compare.District     972 non-null    object
 36  Math.Compare.County       972 non-null    object
 37  Reading.Current-1         915 non-null    float64
 38  Reading.Current-2         889 non-null    float64
 39  Reading.Change            915 non-null    object
 40  Math.Current-1            915 non-null    float64
 41  Math.Current-2            889 non-null    float64
 42  Math.Change               915 non-null    object
 43  Student.Growth.Reading    972 non-null    object
 44  Student.Growth.Math       972 non-null    object
 45  School.Program            331 non-null    object
 46  Community.Resources       331 non-null    object
 47  longitude                 972 non-null    float64
 48  latitude                  972 non-null    float64
 49  Student.Teacher.Ratio     945 non-null    float64
 50  Grade.Range               972 non-null    object
dtypes: float64(28), int64(1), object(22)
memory usage: 434.9+ KB

In [14]:
# export the csv file
schools_harris.to_csv("Output/Schools_Ratings_Harris_Co.csv")